# Rename this file name to .env for it to work

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

######
# Default
######
LOCALE = zh-CN
PORT = 3000

### ER DB
RDB_ENGINE = mysql
# RDB_URL://USER:PASSWORD@HOST:PORT/DB_NAME
# RDB_URL = mysql://root:123456@localhost:3306/meread
RDB_NAME = meread

## JWT Priavte Key
TOKEN_EXPIRES = 7200
TOKEN_KEY_PRIVATE = '101,SetThis!'

# GitHub
GH_ID = a6e28821c0efcfb69d7d
GH_SECRET = d5575a34c3b41332b190820d8e9d3b3e96b9d93b

# Gitee
GE_ID = dd41412a11e8c9cca9b18d70573fcd2aed1fad8e8cc60c3585356fda2deb85c2
GE_SECRET = a5c3f7a07893f49e09aa31ecbf3f32497ee52f19b0ddef74d66ef00c7a8cace0

# Wechat
WC_ID =
WC_SECRET =

# Weapp
WA_ID = wxf1de959dea003d61
WA_SECRET = 2649c7837ad804bd76f7a47db0c86d66

######
# Production
######
NODE_ENV = production

######
# Testing
######
NODE_ENV = testing

######
# Development
######
NODE_ENV = development
